<header class="main-header-container">
    <div class="main-header-container">
        <h1>sempre  atualiar o arquivo SETTING.PY com todos os APPS que foram craicao 
            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
            receitas {{nome}}
            <a class='main-logo' href="/">
                <i class="fas fa-address-book main-logo-icon"></i>
                <span class="main-logo-text">Recipes - Receitas {{ nome}}</span>
            </a>
        </h1>
        <h2>BASE  - DJANGO</h2> 

        <h3>ESTE HOME ESTA DENTRO DO \TEMPLAMTES\RECEITAS\HOME.HTML - ISTO PARA QUE EU POSSO TER VARIOS ARQUIVOS COM O MESMO HTML E EU QUEIRA FAZERDE MANEIRA DISTINTA</h3> 
</header>